name: Build Matrix
'on':
  workflow_run:
    workflows: ["Update Crubit and Test Matrix"]
    types:
      - completed
  workflow_dispatch: null
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust_version:
          - nightly-2026-01-15
          - nightly-2026-01-16
          - nightly-2026-01-17
          - nightly-2026-01-18
          - nightly-2026-01-19
          - nightly-2026-01-20
          - nightly-2026-01-21
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # submodules: true ensures the submodule folder exists to be updated
          submodules: true
          # fetch-depth: 0 ensures we have history to push back
          fetch-depth: 0
      - name: Install Rust Toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}
          components: "rust-src, rustc-dev, llvm-tools-preview"
      - name: Build Binary
        id: cargo_build
        run: cd crubit; cargo check --bin cc_bindings_from_rs
      - name: Final Status Notification
        if: always()
        run: "if [[ \"${{ job.status }}\" == \"success\" ]]; then\n  echo \"✅ Build passed for ${{ matrix.rust_version }}\"\nelse\n  echo \"❌ Build failed for ${{ matrix.rust_version }}\"\nfi\n"
