name: Scheduled Remote Branch Trigger

on:
  schedule:
    # This example runs every day at midnight UTC
    - cron: '0 20 * * *'
  workflow_dispatch: # Allows you to test it manually

jobs:
  trigger-other-branch:
    runs-on: ubuntu-latest
    permissions:
      actions: write # Required to trigger workflows
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.UPDATE_REPO_SECRET }}
          # submodules: true ensures the submodule folder exists to be updated
          submodules: true
          # fetch-depth: 0 ensures we have history to push back
          fetch-depth: 0
      - name: Trigger Workflow on Target Branch
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh workflow run update-repo.yml --ref test-matrix
