name: Scheduled Remote Branch Trigger

on:
  schedule:
    # This example runs every day at midnight UTC
    - cron: '0 20 * * *'
  workflow_dispatch: # Allows you to test it manually

jobs:
  trigger-other-branch:
    runs-on: ubuntu-latest
    permissions:
      actions: write # Required to trigger workflows
    steps:
      - name: Trigger Workflow on Target Branch
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh workflow run update-repo.yml --ref test-matrix
